/* Coolors Exported Palette - coolors.co/d2040a-a9e5bb-fcf6b1-f7b32b-2d1e2f */
/* HSL */
/* RGB */
/*hand writing*/
.nav-background {
  background: url(../images/hero_index.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  position: relative;
  max-width: 100%;
  width: 100%;
  border-bottom-left-radius: 80% 20%;
  border-bottom-right-radius: 80% 20%; }

.nav-site__logo {
  position: absolute;
  top: 1%;
  left: 1%; }
  .nav-site__logo img {
    width: 60px;
    height: 60px; }
  .nav-site__logo a {
    color: #ffffff; }

nav {
  height: 10vh;
  background: transparent; }
  @media screen and (max-width: 48em) {
    nav .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px; }
    nav nav {
      position: relative; }
    nav .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 2.5%;
      outline: none;
      z-index: 3; }
      nav .hamburger:after {
        opacity: 0;
        content: 'x';
        position: absolute;
        top: 2.5%;
        right: 5%;
        font-size: 3em;
        line-height: 0;
        -webkit-transition: opacity 0.4s ease-out;
        transition: opacity 0.4s ease-out; }
      nav .hamburger:active {
        -webkit-transform: translateY(2px);
        transform: translateY(2px); } }

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear; }
  .nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear; }
    .nav-links li a:hover {
      color: #fa0f15; }
  @media screen and (max-width: 48em) {
    .nav-links {
      position: fixed;
      background: -webkit-gradient(linear, left top, left bottom, from(#d2040a), to(#fa0f15));
      background: linear-gradient(to bottom, #d2040a, #fa0f15);
      height: 100vh;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      clip-path: circle(100px at 90% -30%);
      -webkit-clip-path: circle(100px at 90% -30%);
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      pointer-events: none;
      z-index: 2; }
      .nav-links.open {
        clip-path: circle(1020px at 90% -20%);
        -webkit-clip-path: circle(1020px at 90% -20%);
        pointer-events: all; }
      .nav-links li {
        opacity: 0; }
      .nav-links li:nth-child(1) {
        -webkit-transition: all 0.5s ease 0.2s;
        transition: all 0.5s ease 0.2s; }
      .nav-links li:nth-child(2) {
        -webkit-transition: all 0.5s ease 0.4s;
        transition: all 0.5s ease 0.4s; }
      .nav-links li:nth-child(3) {
        -webkit-transition: all 0.5s ease 0.6s;
        transition: all 0.5s ease 0.6s; }
      .nav-links li:nth-child(4) {
        -webkit-transition: all 0.5s ease 0.8s;
        transition: all 0.5s ease 0.8s; }
      .nav-links li.fade {
        opacity: 1; } }

.cta--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  background: #d8002f;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 35%; }

.cta__button {
  color: red; }

/*# sourceMappingURL=header.css.map */
