@mixin deskTopFirst($media) {
    @media screen and (max-width: $media/16+em) { @content; }
}

nav {
    height: 10vh;
    margin: 0;
    background: rgb(231, 9, 46);

    @include deskTopFirst(768) {
        .line {
            width: 30px;
            height: 3px;
            background: white;
            margin: 5px;
        }

        nav {
            position: relative;
        }
        .hamburger {
            position: absolute;
            cursor: pointer;
            right: 5%;
            top: 2.5%;
            outline: none;
            z-index: 3;

            &:after {
                opacity: 0;
                content: 'x';
                position: absolute;
                top: 2.5%;
                right: 5%;
                font-size: 3em;
                line-height: 0;
                transition: opacity 0.4s ease-out;
            }
            &:active {
                transform: translateY(2px);
            }
        } 
    }
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%; //Takes up only 50% of available space of 100
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto; //The margin from left acts like float

    li a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        transition: color 0.2s linear;

        &:hover {
            color: black;
        }
    }
    

    @include deskTopFirst(768) {
        position: fixed;
        background: linear-gradient(to bottom, rgb(231, 9, 46), rgb(240, 34, 68));
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 2;

        &.open {
            clip-path: circle(1020px at 90% -20%);
            -webkit-clip-path: circle(1020px at 90% -20%);
            pointer-events: all;
        }
        & li {
            opacity: 0;
        }
        & li:nth-child(1) {
            transition: all 0.5s ease 0.2s;
        }
        & li:nth-child(2) {
            transition: all 0.5s ease 0.4s;
        }
        & li:nth-child(3) {
            transition: all 0.5s ease 0.6s;
        }
        & li:nth-child(4) {
            transition: all 0.5s ease 0.8s;
        }
        li.fade {
            opacity: 1;
        }
    }

}