/* Coolors Exported Palette - coolors.co/d2040a-a9e5bb-fcf6b1-f7b32b-2d1e2f */

/* HSL */
$color1: hsla(358%, 96%, 42%, 1);
$color2: hsla(138%, 54%, 78%, 1);
$color3: hsla(55%, 93%, 84%, 1);
$color4: hsla(40%, 93%, 57%, 1);
$color5: hsla(293%, 22%, 15%, 1);

/* RGB */
$color1: rgba(210, 4, 10, 1);
$color2: rgba(169, 229, 187, 1);
$color3: rgba(252, 246, 177, 1);
$color4: rgba(247, 179, 43, 1);
$color5: rgba(45, 30, 47, 1);