$header-font: 'Lora', serif;
$main-font: 'Lato', sans-serif;
$style-font: 'Courgette', cursive; /*hand writing*/
$black-textshadow: .03em .03em $font-color;
$brand-color-textshadow: .03em .03em $medium-red;
$blue-text-shadow: .03em .03em 0 $medium-red;
$white-text-shadow: .03em .03em $white;
$gray-text-shadow: .03em .03em $gray;
$box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
$box-shadow-2: 0 8px 16px 0 rgba(0,0,0,0.2);
$box-shadow-gray: 0 5px 7px 0 $extra-light-gray;
$brand-purple-rgba: rgba($brand-red, 0.3);
$brand-black-rgba: rgba($unique-black, 0.2); 