$brand-red: #f41335; //torch red
$accent-color: #13f442; //Malachite -- Green
$accent-dark: #00a823; //Dark Pastel Green -- Dark Green
$dark-red: #a80019; // Carmine -- Dark-Brown:Red
$medium-red: #ff2d4d; // Radical Red -- Pink:Red
$gray: #868e96;
$light-gray: #f1f3f5;
$semi-light-gray: #ccc;
$extra-light-gray: #f8f9fa;
$white: #ffffff;
$font-color: #1c1532;
$brand-font: #280100;
$unique-black: #1c1532;
$font-header: 'Merriweather', serif;
$font-main: 'Roboto', sans-serif;
$black-textshadow: .03em .03em $font-color;
$brand-color-textshadow: .03em .03em $medium-red;
$blue-text-shadow: .03em .03em 0 $medium-red;
$white-text-shadow: .03em .03em $white;
$gray-text-shadow: .03em .03em $gray;
$box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
$box-shadow-2: 0 8px 16px 0 rgba(0,0,0,0.2);
$box-shadow-gray: 0 5px 7px 0 $extra-light-gray;
$brand-purple-rgba: rgba($brand-red, 0.3);
$brand-black-rgba: rgba($unique-black, 0.2); 